.container{
	margin-top: 34px;
}

ul{
	margin-left: 100px !important;
}
.navbar-text{
	padding-right: 30px;
}
.btn-outline-success{
	background-color: white !important;
	margin-top: 15px;
}

.btn-outline-success:hover{
	color: green;
}
